.error-container {
  width: 100%;
  height: fit-content;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1000;
  background-color: rgba(var(--error-rgb), 0.25);
  border-radius: inherit;
  padding: 0.5rem;
}

.error-icon {
  animation: shake 1s ease-in-out infinite alternate;
  filter: var(--filter-error);
}

.error-message {
  color: var(--error);
  font-weight: 600;
  text-align: center;
  font-size: clamp(0.75rem, 0.85vw, 0.85rem);
}

@keyframes shake {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}
