.bar-chart {
  max-width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  fill: var(--color-secondary);
}

.bar-label {
  font-family: var(--font-heading);
  font-size: 16px;
  font-weight: 600;
  fill: var(--color-surface);
}
