.bar-chart-c .head,
.bar-chart-c .graph {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-chart-c .head {
  margin-bottom: 20px;
}

.bar-chart-c .graph {
  justify-content: space-between;
}

.bar-chart-c .graph .p-holder {
  width: 40px;
  color: var(--color-on-surface);
  overflow: hidden;
}

.bar-chart-c .head img {
  margin-left: 24px;
  width: 24px;
  padding: 0;
  cursor: pointer;
  filter: invert(58%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(98%)
    contrast(86%);
}

.bar-chart-c .holder {
  width: 80%;
  height: 16px;
  background-color: var(--color-surface-variant);
  border-radius: 4px;
}

.graph {
  text-align: end;
}

.active-bar {
  height: 100%;
  background-color: var(--color-primary-variant);
  border-radius: 4px;
  transition: width 0.5s ease-in-out;
}
