.radar {
  max-width: inherit;
  font-family: var(--font-heading);
  color: var(--color-on-surface);
  position: absolute;
  /* background-color: red; */
}

.radar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
