.overview-table {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  min-height: 440px;
  padding: 1rem;
  gap: 1rem;
}

.table-wrapper {
  min-height: 400px;
  width: 100%;
  overflow-x: auto;
  border: 0.5px solid var(--text-variant);
  background: rgb(var(--primary-rgb), 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .overview-table {
    padding: 0.5rem;
    gap: 0.5rem;
  }
}
