.overview-table {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  min-height: 300px;
  height: fit-content;
  padding: 1rem;
  gap: 1rem;
}

.overview-table .table-wrapper {
  min-height: 300px;
}

.overview-table-title {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.overview-table-title .debug-info {
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.label p {
  font-weight: 600;
}

.filter-container button {
  margin: 0;
}

@media (max-width: 768px) {
  .overview-table {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .overview-table-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem;
  }

  .overview-table-title > :nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
