.overview-bar-container {
  border-radius: 8px;
  background-color: var(--surface);
  border: 0.5px solid var(--text-variant);
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  padding: 1rem;
  text-align: start;
}

.overview-bar-content {
  display: flex;
  align-items: start;
  flex-direction: column;
  min-height: 360px;
  border-radius: 8px;
  margin-top: 1rem;
  /* justify-content: space-between; */
  height: 100%;
}

.overview-bar-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

/* .custom-tooltip {
  background-color: var(--surface);
  color: var(--text);
  border-radius: 6px;
  padding: 14px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0px 4px 8px rgba(var(--text-rgb), 0.5);
  border: solid 1px var(--text-variant);  
} */

.overview-bar-container .filters-container {
  display: flex;
  align-items: center; 
  gap: 1rem;
  width: 100%;
}

.overview-bar-container .dropdown-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.recharts-default-legend {
  font-family: var(--body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  line-height: 1;
  width: 80%;
  height: fit-content;  
}

@media screen and (max-width: 768px) {
  .overview-bar-container {
    padding: 0.5rem;
  }

  .overview-bar-content {
    margin-top: 0.5rem;
  }

  .overview-bar-title {
    gap: 0.5rem;
  }

  .recharts-default-legend {
    font-size: 12px !important; 
  }
}
