.overtime-radar-container {
  flex: 1;
}

.overview-radar-content {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 30vh;
  margin-top: 1rem;
  border-radius: 8px;
}

.overview-radar-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .overview-radar-title,
  .overview-radar-content {
    padding: 0.5rem;
  }

  .overview-radar-content {
    margin-top: 0.5rem;
  }
}
