.overview {
  background-color: var(--color-surface-variant);
  height: 100vh;
  width: 80%;
  margin-left: 20%;
}

.overview .content {
  position: inherit;
  padding-top: 100px;
  top: 100px;
  transition: top 0.3s ease-in-out;
}

.header.expanded ~ .overview {
  padding-top: 350px;
}
