.overview-table {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  min-height: 440px;
  padding: 1rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .overview-table {
    padding: 0.5rem;
    gap: 0.5rem;
  }
}
