.action-table {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.action-table-row td:hover {
  background-color: var(--secondary);
  color: white;
  transform: scale(1.05);
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-in-out;
  cursor: pointer;
}

.action-table .action-table-row td * {
  pointer-events: none;
}

body.dark .action-table-row:hover {
  color: var(--text);
}

.action-table thead *,
.u-cell,
.o-cell,
.tot-cell {
  text-align: center;
}

.action-table .unresponsive {
  text-align: center;
  color: var(--text);
  opacity: 0.5;
}
