.selected-action-table {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.selected-action-table .no-data {
  text-align: center;
  padding: 1rem;
}

.selected-action-table .alert-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 0.5rem;
}

.notes {
  background-color: var(--card);
  color: var(--text);
  border: solid 1px var(--neutral);
  overflow-y: auto;
  transition: height 0.2s ease;
  min-height: 40px;
  min-width: 280px;
  padding: 4px;
}

.action-cell {
  min-width: 190px;
}
