.action-table {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.action-table-row:hover {
  background-color: var(--secondary);
  color: var(--surface);
  transform: scale(1.01);
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-in-out;
  cursor: pointer;
}

body.dark .action-table-row:hover {
  color: var(--text);
}
