.selected-action-table {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.notes {
  background-color: var(--card);
  color: var(--text);
  border: solid 1px var(--neutral);
  overflow-y: auto;
  transition: height 0.2s ease;
  min-height: 40px;
  min-width: 280px;
  padding: 4px;
}

.action-cell {
  min-width: 190px;
}

 