.action-table {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.action-table td,
.action-table th {
  text-align: center;
}

.action-table .po-name {
  min-width: 200px;
}

.action-table td:hover,
.action-table td:hover * {
  color: white;
}

.action-table .po-name,
.action-table .witel-name { 
  text-align: start;
}

.action-table *,
.action-table-row td {
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-in-out;
  cursor: pointer;
}

.action-table-row td:hover {
  background-color: var(--secondary);
  transform: scale(1.04);
}

.action-table .unresponsive {
  color: var(--text);
  opacity: 0.25;
}
