.report-page .card {
  text-align: start;
}

.report-page .filter-container.announce {
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.report-page .filter-container.announce p {
  width: fit-content;
}

.card.aosodomoro.filter {
  text-align: center;
  min-height: 0;
}

.aosodomoro.filter .subtype-filter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aosodomoro.table,
.aosodomoro.selected {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.aosodomoro.selected {
  position: relative;
  overflow: auto;
  height: 100vh;
}

.aosodomoro.table .title {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.aosodomoro.table .title .stats {
  text-align: end;
}

.aosodomoro.selected .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.aosodomoro .tr-status-lanjut {
  background-color: rgb(var(--success-rgb), 0.5);
}

.aosodomoro .tr-status-cancel {
  background-color: rgb(var(--error-rgb), 0.5);
}

.aosodomoro .tr-status-bukan-order-reg {
  background-color: rgb(var(--secondary-rgb), 0.5);
}

/* Tablet and up */
@media (min-width: 768px) {
  .aosodomoro.filter .subtype-filter {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
