.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.page-not-found h5 {
  margin-top: 20px;
  margin-bottom: 60px;
}
