.galaksi-table {
  height: 100%;
  width: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.galaksi-table .table-wrapper table {
  pointer-events: none !important;
}

.galaksi-table th,
.galaksi-table tbody *:not(:first-child),
.galaksi-table tfoot *:not(:first-child) {
  text-align: center;
}

.galaksi-table tfoot * {
  background-color: var(--primary-variant);
  color: white !important;
}

.galaksi-table .filler {
  background-color: black;
}
