.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-page {
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.login-page .logo {
  width: 20%;
}

/* Override card for login */
.card.login {
  width: 80%;
}

.card.login:hover {
  transform: none;
}

/* Tablet */
@media (min-width: 768px) {
  .card.login {
    width: 80%;
  }

  .login-page .logo {
    width: 10%;
  }
}

/* Bigger Tablet */
@media (min-width: 924px) {
  .card.login {
    width: 60%;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .card.login {
    width: 40%;
  }

  .login-page .logo {
    width: 8%;
  }
}
