.card.action.table {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card.action.table .title {
  text-align: center;
}

.card.action.table .table-wrapper {
  min-height: fit-content;
}

.card.action.table td:hover p {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}
