.performance {
  background-color: var(--color-surface-variant);
  height: 100%;
  min-height: 100vh;
  width: 80%;
  margin-left: 20%;
  padding-bottom: 20px;
}

.performance .content {
  position: inherit;
  padding-top: 100px;
  transition: top 0.3s ease-in-out;
  margin-inline: 20px;
}

.performance .p1-container,
.p1-widget .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p1-container .divider {
  width: 1px;
  height: 60px;
  background-color: var(--color-on-surface-variant);
}

.p1-widget {
  display: flex;
  align-items: start;
  margin-block: 50px;
}

.performance .content .leading {
  margin-bottom: auto;
}

.performance .content .leading img {
  filter: invert(42%) sepia(17%) saturate(6781%) hue-rotate(8deg)
    brightness(99%) contrast(96%);
  width: 20px;
  height: 20px;
}

.p1-widget .title {
  margin-inline: 12px;
}

.subtitle p {
  color: var(--color-on-surface-variant);
}

.subtitle .percentage {
  background-color: var(--color-successful);
  color: var(--color-surface);
  margin-right: 8px;
  margin-left: 24px;
  padding-inline: 16px;
}

.percentage.positive {
  background-color: var(--color-successful);
}

.percentage.negative {
  background-color: var(--color-error);
}

.p2-container {
  border-radius: 12px;
  background-color: var(--color-surface);
  border: 0.5px solid var(--color-on-surface-variant);
  height: 1000px;
  padding: 36px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.p2-left {
  width: 50%;
}

.p2-right {
  width: 30%;
}
