.performance-container {
  padding: 1rem;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.summarize-container,
.visualize-container .cards-container,
.visualize-container .graph-container,
.performance-table-container,
.large-visualize-container,
.v-card {
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  border-radius: 8px;
  padding: 1rem;
  border: 0.5px solid var(--text-variant);
  text-align: start;
  margin-top: 1rem;
  gap: 1rem;
}

.v-card {
  margin: 0;
}

.summarize-container {
  min-height: 60vh;
}

.visualize-container .graph-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.visualize-container .graph-container .graph-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.visualize-container .cards-container {
  border: none;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0;
  margin: 0;
  height: 100%;
}

.visualize-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 35vh;
  margin-top: 1rem;
}

.visualize-container > :nth-child(1),
.visualize-container > :nth-child(2) {
  flex: 1;
}

.large-visualize-container .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comparison-desc {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.comparison-desc .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0.5px solid var(--text-variant);
}

.comparison-desc .comparison-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
