.v-graph-container {
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  border-radius: 8px;
  padding: 1rem;
  border: 0.5px solid var(--text-variant);
  text-align: start;
  gap: 1rem;
}

.v-graph-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.v-graph-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.v-graph-container .head {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .v-graph-container {
    gap: 0.5rem;
    width: 100%;
  }

  .v-graph-content,
  .v-graph-container .head {
    padding: 0.5rem;
  }

  .v-graph-content,
  .v-graph-container .head {
    gap: 0.5rem;
  }

  .v-graph-content {
    padding: 0.5rem;
    min-height: 20vh;
  }
}
