.performance-summarize {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 1rem;
}

.summary-container,
.detailed-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 1rem;
}

.summary-container {
  flex: 2;
}

.detailed-container {
  flex: 1;
  background-color: blue;
}

.status-graph-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 10px;
}

.status-bar-container {
  width: inherit;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.status-bar {
  width: 100%;
  border-radius: 4px;
  background-color: var(--bg);
}

.status-bar-active {
  background-color: var(--primary-variant);
  height: inherit;
  border-radius: 4px;
  width: 0%; /* Start at 0% */
  transition: width 0.6s ease-in-out;
}

.status-text {
  width: 60px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.bar-title {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  text-align: start;
  width: 100%;
}

.object-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.status-bar,
.status-text {
  height: 22px;
}

.summary-container .table-wrapper {
  min-height: 200px;
  flex-direction: column;
}

.summary-table-wrapper {
  min-height: 200px;
  flex-direction: column;
  overflow-x: auto;
  border: 0.5px solid var(--text-variant);
  background: rgb(var(--primary-rgb), 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.circle-avatar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
}

.circle-avatar {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--surface);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: 0.5px solid var(--text-variant);
  text-overflow: ellipsis;
}

.circle-avatar * {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .performance-summarize {
    gap: 0.5rem;
    flex-direction: column;
  }

  .summary-container,
  .detailed-container {
    flex: 1;
    gap: 0.5rem;
  }

  .status-graph-container,
  .circle-avatar-container {
    gap: 0.5rem;
  }

  .status-bar,
  .status-text {
    height: 16px;
  }

  .summary-container .table-wrapper {
    min-height: 100px;
  }

  .circle-avatar {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 40px;
  }

  .summary-table-wrapper {
    padding: 0.5rem;
    min-height: 100px;
    width: calc(100% - 1rem);
  }
}
