.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card);
  padding: 1rem;
  border-top: 1px solid var(--neutral);
  gap: 1rem;
  width: 100%;
  transition: all 0.3s ease;
  height: 40px;
}

.footer.mobile-open {
  display: none !important;
}

/* Tablet and up*/
@media (min-width: 768px) {
  .footer {
    height: 40px;
  }
}
