.report-container {
  padding: 1rem;
}

.period-container,
.report-table-container {
  border-radius: 8px;
  background-color: var(--surface);
  border: 0.5px solid var(--text-variant);
  text-align: start;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.period-filter {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  border-radius: 8px;
  gap: 0.5rem;
  padding: 0.5rem;
}

.period-container .category-filter .label,
.period-container .category-filter .subtype-label {
  color: var(--text-variant);
}

.report-table-container {
  margin-top: 1rem;
}

.category-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.report-table-container .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.report-container .table-wrapper {
  min-height: 375px;
}

.subtype-filter-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subtype-filter {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (max-width: 768px) {
  .report-container,
  .period-filter,
  .period-container,
  .report-table-container {
    padding: 0.5rem;
  }

  .report-table-container {
    margin-top: 0.5rem;
  }

  .category-filter {
    gap: 0.5rem;
  }

  .period-filter {
    gap: 0.25rem;
    padding: 0.25rem;
  }

  .report-container .table-wrapper {
    min-height: 340px;
  }

  .subtype-filter-container {
    gap: 4px;
    display: block;
    width: 100%;
  }

  .subtype-filter {
    gap: 4px;
    flex-direction: row-reverse;
  }

  .category-filter .subtype-label {
    display: none;
  }
}
