.report-container {
  padding: 1rem;
}

.period-container,
.report-table-container {
  border-radius: 8px;
  background-color: var(--surface);
  border: 0.5px solid var(--text-variant);
  text-align: start;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.period-filter {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  border-radius: 8px;
  gap: 0.5rem;
  padding: 0.5rem;
}

.period-container .label {
  color: var(--text-variant);
}

.report-table-container {
  margin-top: 1rem;
}

.category-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .report-table-container-container {
  border: none;
  background-color: var(--bg);
  min-height: 54vh;
} */

@media screen and (max-width: 768px) {
  .report-container,
  .period-filter,
  .period-container,
  .report-table-container {
    padding: 0.5rem;
  }

  .report-table-container {
    margin-top: 0.5rem;
  }

  .category-filter {
    gap: 0.5rem;
  }

  .period-filter {
    gap: 0.25rem;
    padding: 0.25rem;
  }
}
