.report-table-wrapper {
  width: 100%;
  margin-bottom: 6px;
}

.report-table-wrapper .table-scroll {
  width: 100%;
  max-height: none;
  overflow: visible;
}

.report-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.report-table-wrapper th,
.report-table-wrapper td {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  border: 0.5px solid var(--color-on-surface-variant);
  padding: 8px;
}

.table-scroll tr th {
  background-color: var(--color-primary-variant);
  color: var(--color-surface);
}

.report-table-wrapper td p {
  font-style: italic !important;
  font-family: inherit;
  margin: 0;
}

tr.grand-total-row {
  background-color: var(--color-primary) !important;
  color: var(--color-surface) !important;
}

.report-table-wrapper td h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-self: center;
}

.report-table-wrapper
  td:hover:not(.unresponsive, .grand-total-row .grand-total-title) {
  background-color: var(--color-surface);
  color: var(--color-secondary);
  cursor: pointer;
}

.report-table-wrapper
  td:hover
  h6:not(.unresponsive h6, .grand-total-row .grand-total-title h6) {
  font-weight: 900;
  /* font-size: 1.5rem; */
}

@media screen and (max-width: 1100px) {
  .report-table-wrapper {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  .report-table-wrapper table {
    min-width: 1100px;
  }

  .report-table-wrapper p,
  .report-table-wrapper h6 {
    font-size: 14px;
  }
}
