.report-table {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: inherit;
  overflow-x: auto;
}

.report-table .table-scroll table {
  width: 100%;
  /* table-layout: fixed; */
  border-collapse: collapse;
}

.report-table .table-scroll th,
.report-table .table-scroll td {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
}

.report-table .table-scroll th {
  text-align: center;
  cursor: pointer;
}

.report-table .table-scroll td:hover,
.report-table .table-scroll td:hover p {
  background-color: var(--secondary);
  color: var(--surface);
  cursor: pointer;
  transform: scale(1.1);
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-in-out;
}

.report-table .table-scroll th:hover,
.grand-total-row .unresponsive:hover,
.grand-total-title:hover,
.unresponsive:hover p {
  background-color: var(--primary)  !important;
  transform: scale(1.02);
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-in-out;
}

.unresponsive:not(.grand-total-row td),
.grand-total-title:hover {
  pointer-events: none;
}

.report-table .table-scroll td:not(.witel-name) {
  text-align: center;
}

.report-table .table-scroll td p {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
}

.report-table .table-scroll td p:hover {
  white-space: none;
  word-wrap: normal;
  overflow: none;
  background: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  width: inherit;
  height: inherit;
}

.disabled-cell {
  cursor: default;
  transform: none !important;
  pointer-events: none;
}

.disabled-cell {
  opacity: 0.5;
}

.grand-total-row .unresponsive,
.grand-total-title {
  background-color: var(--primary-variant);
}

.grand-total-row .unresponsive p,
.grand-total-row .unresponsive,
.grand-total-title {
  color: var(--surface) !important;
}

@media screen and (max-width: 768px) {
  .report-table .table-scroll table {
    width: fit-content;
    table-layout: auto;
  }

  .report-table .table-scroll td p {
    font-size: 12px;
  }
}
