.selected-table {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: inherit;
  overflow-x: auto;
}

.notes-container {
  width: 100%;
  height: auto;
}

.notes {
  background-color: var(--surface);
  color: var(--text);
  border: solid 1px var(--text-variant);
  resize: none;
  overflow: hidden;
  line-height: 1.5;
  max-height: 3.5em;
  padding: 5px;
}

.notes:focus {
  outline: none;
}

.notes:focus,
.notes {
  height: auto;
  min-height: 2.5rem;
}

.tr-status-lanjut {
  background-color: rgb(var(--success-rgb), 0.5);
}

.tr-status-cancel {
  background-color: rgb(var(--error-rgb), 0.5);
}

.tr-status-bukan-order-reg {
  background-color: rgb(var(--secondary-rgb), 0.5);
}
