.admin-panel {
  padding: 1rem;
}

.panel-container,
.verify-container {
  border-radius: 8px;
  background-color: var(--surface);
  border: 0.5px solid var(--text-variant);
  text-align: start;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.verify-container {
  margin-bottom: 1rem;
}

.admin-panel .table-wrapper {
  min-height: 150px;
  height: fit-content;
}

.admin-panel .table-wrapper td {
  width: fit-content;
}

.role-badge.user {
  font-weight: 500 !important;
}

.panel-container td p {
  max-width: 250px;
  width: 100%;
}

.revoke-btn {
  background-color: var(--error);
}