.role-table .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.role-table .role {
  font-weight: 700;
}

.role-table td p {
  max-width: fit-content;
}
