.custom-tooltip {
  background-color: var(--bg);
  padding: 0.75rem;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(var(--neutral-rgb), 0.5);
  border: solid 1px var(--neutral);
}

.tooltip-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 100%;
}

.tooltip-item {
  margin: 0;
  font-weight: 600;
  width: 100%;
}
