.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-surface);
  width: 82%;
  height: 45px;
  position: relative;
  margin-top: auto;
  margin-left: 18%;
  box-shadow: inset 0 1px 0 var(--color-on-surface-variant),
    inset 1px 0 0 var(--color-on-surface-variant);
}

.footer p {
  margin-inline: 10px;
}

@media screen and (max-width: 1100px) {
  .footer {
    width: 88%;
    margin-left: 12%;
    height: 40px;
  }

  .footer * {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 92%;
    margin-left: 8%;
  }
}
