.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid var(--color-on-surface-variant);
  background-color: var(--color-surface);
  width: 80%;
  right: 0;
  height: 50px;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.footer h6 {
  margin-inline: 10px;
}
