.sidebar-container {
  width: 100%;
  height: 100%;
  border-right: 0.5px solid var(--text-variant);
  background-color: var(--surface);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 90px;
  width: fit-content;
  margin-block: 10px;
  align-self: center;
}

.menu {
  padding-inline: 8%;
  flex: 1;
}

.menu-selection {
  background-color: var(--surface);
  color: var(--text);
  border-radius: 8px;
  padding-block: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-selection.selected {
  background-color: var(--primary);
  color: var(--surface);
}

.menu-selection.selected .icon {
  filter: invert(93%) sepia(81%) saturate(4725%) hue-rotate(180deg)
    brightness(108%) contrast(107%);
}

body.dark .menu-selection .icon,
body.dark .menu-selection.selected .icon,
body.dark .menu-selection:hover .icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(150deg)
    brightness(109%) contrast(100%);
}

.menu-selection:hover .icon {
  filter: invert(93%) sepia(81%) saturate(4725%) hue-rotate(180deg)
    brightness(108%) contrast(107%);
}

.menu-selection:hover {
  background-color: var(--primary);
  color: var(--surface);
}

body.dark .menu-selection:hover {
  color: var(--text);
}

.menu-selection .icon {
  width: 20px;
  height: 20px;
  padding-inline: 18px;
}

.menu-selection .label {
  padding: 0;
  margin: 0;
  font-family: var(--heading);
  font-size: 15px;
  font-weight: 600;
}

body.dark .menu-selection .label {
  color: var(--text);
}

.menu-selection.selected .label {
  font-size: 16px;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  margin-left: 10%;
  width: 90%;
}

.submenu.open {
  max-height: 400px;
}

.submenu .icon {
  width: 0px;
  margin: 0px;
  padding: 0px 6px;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    max-width: 60%;
  }

  .menu-selection {
    padding: 0;
    justify-content: start;
    gap: 0.5rem;
    border-radius: 8px;
    width: 100%;
  }

  .menu-selection .icon {
    padding: 8px;
    max-width: 30px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1;
    content: url("/TLK.svg");
    margin-block: 2rem;
    padding: 0;
  }

  body.dark .logo {
    content: url("/TLK_REVERSE.svg");
  }
}

@media screen and (max-width: 768px) {
  .menu-selection .icon {
    padding: 6px;
    max-width: 20px;
  }
}
