.card.admin {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card.admin,
.card.admin .table-wrapper {
  min-height: 80px;
}

.admin.pending .heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
