.page.manage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding-top: 4rem;
}

.page.manage .user-details {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  text-align: start;
}

.page.manage .edit-btn-container,
.page.manage .details-footer-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.page.manage .edit-btn-container {
  justify-content: end;
}

.page.manage .back-btn-container {
  width: 80%;
}

/* Tablet */
@media (min-width: 768px) {
  .page.manage .user-details,
  .page.manage .back-btn-container {
    width: 60%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .page.manage .user-details,
  .page.manage .back-btn-container {
    width: 50%;
  }
}
