#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
  justify-content: start;
  width: 100vw;
  height: 100vh;
}

.content-container {
  width: 100%;
  min-height: 100dvh;
  max-height: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  align-items: stretch;
  min-width: 0;
}

.header {
  width: inherit;
  z-index: 1;
}

.sidebar {
  width: 15vw;
  z-index: 2;
}

.content {
  flex: 1;
  min-width: 0;
  height: 100%;
  position: relative;
  background-color: var(--bg);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.footer {
  width: 100%;
  height: 40px;
  z-index: 2;
  position: relative;
}

.table-wrapper {
  min-height: 400px;
  width: 100%;
  overflow-x: auto;
  border: 0.5px solid var(--text-variant);
  background: rgb(var(--primary-rgb), 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 3;
  }

  .sidebar.active {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(var(--text-rgb), 0.5);
    backdrop-filter: blur(2px);
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }

  .table-wrapper {
    min-height: 300px;
  }
}
