#root {
  width: 100vw;
  margin: 0;
  text-align: center; /* by default */
}

/* Global style for cards (default) */
.card {
  background-color: var(--surface);
  border: 1px solid var(--text-variant);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: start;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.cards-container-row,
.cards-container-row-1-1 {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.cards-container-row-1-1 > div {
  flex: 1;
}

/* Fixed card grid (5-col behavior default) */
.cards-container-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1224px) {
  .cards-container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 978px) {
  .cards-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards-container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Default hover styles (for desktop) */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: translateY(-4px);
  }
}
