#root {
  width: 100vw;
  margin: 0;
  text-align: center; /* default alignment */
}

.app-container {
  height: 100vh;
  width: 100vw;
}

/* Global dropdown container */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Global filter container */
.filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Global card */
.card {
  background-color: var(--card);
  border: 1px solid var(--neutral);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
  overflow: hidden;
  cursor: default;
  transition: transform 0.3s ease-in-out;
  min-height: 350px;
}

/* Card layouts (mobile default: column) */
.cards-container-row,
.cards-container-row-1-1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.cards-container-row-1-1 > div {
  flex: 1;
}

/* Grid layout (mobile first) */
.cards-container-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr); /* mobile: 1 col */
}

/* Global table wrapper */
.table-wrapper {
  width: 100%;
  min-height: 300px;
  height: 100%;
  overflow-x: auto;
  border: 1px solid var(--neutral);
  background: rgb(var(--bg-rgb), 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Breakpoints — scale up */
@media (min-width: 500px) {
  .cards-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 978px) {
  .cards-container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1224px) {
  .cards-container-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 768px) {
  .filter-container {
    flex-direction: row;
    justify-content: start;
  }

  .cards-container-row,
  .cards-container-row-1-1 {
    flex-direction: row;
  }

  .table-wrapper {
    min-height: 400px;
  }
}

/* Dekstop hover (optional but classy) */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: translateY(-4px);
  }
}
