@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #312a68;
  --primary-variant: #45448b;
  --secondary: #e76705;
  --secondary-variant: #f38405;
  --surface: #f0f3ff;
  --bg: #d5d9e7;
  --text: #000000;
  --text-variant: #8f8f8f;
  --error: #d72323;
  --success: #5cb338;
  --heading: "Poppins", sans-serif;
  --body: "Montserrat", sans-serif;

  --primary-rgb: 49, 42, 104;
  --primary-variant-rgb: 69, 68, 139;
  --secondary-rgb: 231, 103, 5;
  --secondary-variant-rgb: 243, 132, 5;
  --surface-rgb: 240, 243, 255;
  --bg-rgb: 213, 217, 231;
  --text-rgb: 0, 0, 0;
  --text-variant-rgb: 143, 143, 143;
  --error-rgb: 215, 35, 35;
  --success-rgb: 92, 179, 56;

  line-height: 1;
  font-weight: 400;

  width: 100%;
  max-width: none;

  color-scheme: light dark;
  background-color: var(--surface);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--surface);
  color: var(--text);
  font-family: var(--body);
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-family: var(--body);
  font-size: 14px;
  font-weight: 400;
}

a {
  font-family: var(--body);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--primary-variant);
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary);
}

blockquote {
  font-family: var(--body);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  border-left: 4px solid var(--text-variant);
  padding-left: 10px;
  margin: 10px 0;
}

button {
  font-family: var(--heading);
  font-weight: 600;
  border: 1px solid transparent;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  background-color: var(--primary-variant);
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 6px;
  height: fit-content;
  align-self: center;
  margin: 0.5rem;
}

button:hover {
  background-color: var(--secondary);
  font-weight: 600;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bcbcbc;
  border-radius: 8px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--text-variant);
  border-radius: 8px;
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 12px;
  }

  p,
  a {
    font-size: 10px;
  }

  blockquote {
    font-size: 10px;
  }
}
