.dropdown {
  padding: 0.25rem 1rem;
  border-radius: 6px;
  background-color: rgb(var(--surface-rgb), 1);
  color: var(--text);
  min-height: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

option {
  font-weight: 600;
}
