.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  gap: 0.5rem;
}

.pagination * {
  font-family: var(--heading);
  font-weight: 600 !important;
  padding: 0;
  margin: 0;
  border-radius: inherit;
}

.pagination .page-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--neutral);
  background-color: var(--card);
  transition: all 0.3s ease;
}

.pagination .page-link {
  display: block;
  font-size: clamp(0.85rem, 0.95vw, 0.95rem);
  color: var(--primary);
  text-decoration: none;
  padding: 8px 10px;
}

body.dark .pagination .page-link {
  color: var(--text);
}

.pagination .page-item:hover {
  background-color: var(--primary-variant);
}

.pagination .page-item:hover * {
  color: var(--card) !important;
}

.pagination .active {
  border: 1px solid var(--primary);
}

.pagination .active .page-link {
  font-weight: bold;
  background: var(--bg);
  color: var(--text) !important;
  pointer-events: none;
}

body.dark .pagination .active .page-link {
  background: var(--primary);
}
